<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${YYDisplayName}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>57x57_icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>57x57_icon.png</string>
		<string>72x72_icon.png</string>
		<string>76x76_icon.png</string>
		<string>114x114_icon.png</string>
		<string>120x120_icon.png</string>
		<string>144x144_icon.png</string>
		<string>152x152_icon.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>${YYBundleIdentifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${YYBundleVersion}</string>
	<key>CFBundleShortVersionString</key>
	<string>${YYBundleShortVersionString}</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow-iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow</string>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>NSMainNibFile~iphone</key>
	<string>MainWindow-iPhone</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		${YYSupportedOrientations}
	</array>
	<key>UIInterfaceOrientations</key>
	<string>${YYInitialOrientation}</string>
	${YYDeviceFamilyEntry}
	${YYAdditionalEntries}
</dict>
</plist>
