###############################################################################
# Set behavior for line endings 
###############################################################################
gradlew text eol=lf
